{% extends "base.html" %}
{% block css %} <style>
    .abttext{
        font-family: 'PT Sans', sans-serif;
        font-size: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>  {% endblock css %}
{% block title %} Home {% endblock title %} 
{% block aboutactive %}active{% endblock aboutactive %}

{% block body %}
<div class="container my-5 ">
    <div class ="row d-flex my-3">
        <!-- This is the right Side -->
        <div class = " col-sm-6 ">
            
        </div>
        <!-- This is the left side -->
        <div class = "abttext col-sm-6 ">
            Hi! There Glad you are Here my name is Hritik Arora , I am a Python Programmer and a web devloper.
            You Can Check My projects In Github, For Github Link you can See the Home Page 
      </div>
    </div>

</div>
{% endblock body %}