<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'css/style.css'%}"
    >
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css"
    />
    {% block css %}  {% endblock css %}

    <title>{% block title %}   {% endblock title %}</title>
  </head>
  <body>
    <nav
    class="
      navbar navbar-dark navbar-expand-lg
      fixed-top
      bg-white
      portfolio-navbar
      gradient
    "
  >
    <div class="container">
      <a class="navbar-brand logo" href="/">Hritik Web</a
      ><button
        data-bs-toggle="collapse"
        class="navbar-toggler"
        data-bs-target="#navbarNav"
      >
        <span class="visually-hidden">Toggle navigation</span
        ><span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/hritikarora28">Projects</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/resume">Resume</a></li>
          <li class="nav-item">
            <a class="nav-link" href="hireme">Hire me</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
      {% for message in messages  %}            
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message : </strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      {% endfor %}
    {% block body %}  {% endblock body %}
    <footer class="page-footer">
      <div class="container">
        <div class="links">
          <a href="/">About me</a><a href="https://github.com/hritikarora28">Projects</a>
          <a href="/contact">Contact me</a
            >
        </div>
        
        
        <div class="social-icons">
          
          <a href="https://www.linkedin.com/in/hritik-arora-b11a2a1b5/"><i class="icon ion-social-linkedin"></i></a
          ><a href="https://github.com/hritikarora28"><i class="icon ion-social-github-outline"></i></a
          ><a href="#"><i class="icon ion-social-twitter"></i></a>
        </div>
      </div>
    </footer>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>