{% extends "base.html" %}
{% block title %} Hire me {% endblock title %} 


{% block body %}
<main class="page hire-me-page">
	<section class="portfolio-block hire-me">
<div class="container ">
	<div class="heading"><h2>Hire me</h2></div>
	<form method="post" action="hireme">
		{% csrf_token %}
		<div class="form-group">
			<label for="cname">Company Name</label>
			<input
				type="text"
				class="form-control"
				id="cname"
				aria-describedby="cname"
				name="cname"
				placeholder="Enter Your Company Name"
			/>
		</div>
		<div class="form-group">
			<label for="email">Email address</label>
			<input
				type="email"
				class="form-control"
				id="email"
				aria-describedby="emailHelp"
				name="email"
				placeholder="Enter email"
			/>
			<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		</div>
		
		<div class="form-group">
			<label for="msg">Other deatils</label>
			<textarea
				type="textarea"
				class="form-control"
				id="msg"
				placeholder="Your requirement"
				cols="30"
				rows="5"
				name="msg"
			></textarea>
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
</div>
</section>
</main>
{% endblock body %}